#pragma once
#include "jeecs.hpp"

// 占位符：
//   $$MODULE_NAME$$     - 模块名（C++ 命名空间名）
//   $$COMPONENT_NAME$$  - 组件类名

namespace $$MODULE_NAME$$
{
    struct $$COMPONENT_NAME$$
    {
        JECS_DISABLE_MOVE_AND_COPY_OPERATOR($$COMPONENT_NAME$$);

        $$COMPONENT_NAME$$()= default;
        $$COMPONENT_NAME$$(const $$COMPONENT_NAME$$&) = default;
        $$COMPONENT_NAME$$($$COMPONENT_NAME$$&&) = default;

        static void JERefRegsiter(jeecs::typing::type_unregister_guard* guard)
        {
            using namespace jeecs;

            // Register member in this function.
            // e.g. typing::register_member(guard, &$$COMPONENT_NAME$$::member, "member");
        }
    };
}
