#pragma once
#include "jeecs.hpp"

// 占位符：
//   $$MODULE_NAME$$   - 模块名（C++ 命名空间名）
//   $$SYSTEM_NAME$$   - 系统类名

namespace $$MODULE_NAME$$
{
    struct $$SYSTEM_NAME$$ : public jeecs::game_system
    {
        $$SYSTEM_NAME$$(jeecs::game_world world);
        ~$$SYSTEM_NAME$$();

        void OnEnable();
        void OnDisable();

        void PreUpdate();
        void Update();
        void LateUpdate();
    };
}
