#include "$$SYSTEM_NAME$$.hpp"

// 占位符：
//   $$MODULE_NAME$$   - 模块名（C++ 命名空间名）
//   $$SYSTEM_NAME$$   - 系统类名

using namespace std;
using namespace jeecs;

namespace $$MODULE_NAME$$
{
    $$SYSTEM_NAME$$::$$SYSTEM_NAME$$(game_world world)
        : game_system(world)
    {
    }
    $$SYSTEM_NAME$$::~$$SYSTEM_NAME$$()
    {
    }

    void $$SYSTEM_NAME$$::OnEnable()
    {
    }
    void $$SYSTEM_NAME$$::OnDisable()
    {
    }

    void $$SYSTEM_NAME$$::PreUpdate()
    {
    }
    void $$SYSTEM_NAME$$::Update()
    {
    }
    void $$SYSTEM_NAME$$::LateUpdate()
    {
    }
}
