# JoyEngine ECS

project.je4project text eol=lf
*.je4world text eol=lf
*.je4entity text eol=lf
*.je4workflow text eol=lf
*.je4tilemap text eol=lf
*.je4tileset text eol=lf
*.je4partical text eol=lf
*.je4chunk text eol=lf
*.je4chunklist text eol=lf
CMakeLists.txt text eol=lf
