# JoyEngine ECS git ignore config.

# Ignore temporary files.
/.vscode/*
/.export/*
/.temporary/*

# Ignore pkg files.
/pkg/*

# Ignore crash dump files.
/*.dmp

# Ignore editor data files.
/project.je4project.je4lock

# Ignore cache files.
*.je4cache

# Ignore style file.
/editor.je4style
