#pragma code_page(65001)

#define JE_MSVC_RC_INCLUDE

#include "jeecs.hpp"

IDI_ICON ICON DISCARDABLE "../builtin/icon/icon.ico"

#define JE_VERSION_WRAP(A, B, C) A,B,C,0

1 VERSIONINFO
FILEVERSION JE_CORE_VERSION
PRODUCTVERSION JE_CORE_VERSION
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

#undef JE_VERSION_WRAP
#define JE_VERSION_WRAP(A, B, C) #A "." #B "." #C

BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080404b0"
BEGIN
VALUE "CompanyName", ""
VALUE "FileDescription", "JoyEngine 可执行文件"
VALUE "FileVersion", JE_CORE_VERSION
VALUE "LegalCopyright", "根据 Apache 许可证 2.0 版本授权"
VALUE "InternalName", "jedriver"
VALUE "OriginalFilename", ""
VALUE "ProductName", "JoyEngineECS (JoyEngine 4.x)"
VALUE "ProductVersion", JE_CORE_VERSION
END
BLOCK "040904b0"
BEGIN
VALUE "CompanyName", ""
VALUE "FileDescription", "JoyEngine executable file."
VALUE "FileVersion", JE_CORE_VERSION
VALUE "LegalCopyright", "Licensed under the Apache License, Version 2.0"
VALUE "InternalName", ""
VALUE "OriginalFilename", ""
VALUE "ProductName", "JoyEngineECS (JoyEngine 4.x)"
VALUE "ProductVersion", JE_CORE_VERSION
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x804, 1200, 0x409, 1200
END
END

#undef JE_VERSION_WRAP

#undef WO_MSVC_RC_INCLUDE
